body{
    background-color: rgb(214, 243, 243);
    margin: 0;
}
nav{
    background-color:lavender;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
nav a{
    margin-left: 20px;
    text-decoration: none;
    align-content: center;
}
.content {
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;     /* centra vertical */
    height: 100vh;           /* ocupa toda la altura */
    background-color: #f5f5f5; /* opcional, para ver contraste */
}

form.column {
    display: flex;
    flex-direction: column;   /* coloca los inputs en columna */
    gap: 10px;                /* espacio entre elementos */
    width: 30%;             /* ancho fijo */
    padding: 20px;            /* espacio interno */
    background: white;        /* fondo blanco */
    border: 1px solid #ccc;   /* borde gris */
    border-radius: 8px;       /* esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.column{
    display: flex;
    flex-direction: column;
}

.column input, button{
    margin-top: 5px;
    margin-bottom: 10px;
}

